.profile__name{
    font-weight: 500;
    font-size: 42px;
    color: #fff;
    line-height: 56px;
    margin: 0 auto 0 0;
    max-width: 540px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  @media screen and (max-width: 1023px) {
    .profile__name{
      max-width: 340px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .profile__name{
      margin: 0 auto;
    }
  }
  
  @media screen and (max-width: 500px) {
    .profile__name{
      max-width: 250px;
      font-size: 27px;
    }
  }