.header__link {
    color: white;
    cursor: pointer;
    margin: 0;
    align-self: flex-end;
    padding: 0 0 0 24px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 400;
}

.header__link:hover {
    opacity: 0.8;
  }