.profile__description {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    max-width: 336px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 767px) {
    .profile__description {
      margin: 0 auto;
      padding-left: 11px;
      max-width: 340px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .profile__description {
      font-size: 14px;
      line-height: 17px;
    }
  }