.popup__container {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    max-width: 430px;
    padding: 34px 36px 37px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 472px) {
    .popup__container {
        padding: 25px 22px 0;
    }
}