.profile__add-button {
    background-image: url('../../../images/Vector-edit.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 150px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 2px;
    align-self: center;
    padding: 0;
}

.profile__add-button:hover {
    cursor: pointer;
    opacity: 0.6;
}


@media screen and (max-width: 767px) {
    .profile__add-button {
      margin: 16px auto 0;
    }
  }
  
  @media screen and (max-width: 500px) {
    .profile__add-button {
      width: 282px;
    }
  }