.card__button-delete {
    background-image: url('../../../images/delete.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 18px;
    height: 19px;
    border: none;
    position: relative;
    top: -270px;
    right: -250px;
}

.card__button-delete:hover {
    opacity: 0.6;
    cursor: pointer;
    border: none;
}